/* $Id: ar7.css,v 1.1 2005/09/01 19:54:55 stefan Exp stefan $ */

/* standard tables (in text) */

table {
  border-width: 1;
  empty-cells: show;
  font-family: Times;
}

th {
  padding-left: 0;
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

/* Tabellenüberschrift allgemein */

table.page {
  border-width: 1;
}

/* title bar */

tr.titlebar td {
  vertical-align: middle;
}

/* menu table */

table.menu td {
  text-align: left;
  font-family: Helvetica;
  font-size: 95%;
}

table.menu th {
  background-color: yellow;
  font-family: Helvetica;
  font-size: 100%;
}

table.menu tr {
  background-color: yellow;
}

td.normal {
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* Einstellungen für Bildschirmausgabe */
@media screen {
	table.menu {
	  background-color: yellow;
	}

	table.menu td {
	  background-color: yellow;
	}

	td.menu {
	  background-color: yellow;
	}

  td {
    background-color: lightblue;
  }

  td.page {
    background-color: white;
  }

  th {
    background-color: blue;
  }
}

/* Einstellungen für Ausgabe auf Drucker */
@media print {
  td.untst, td.ignore {
    color: gray;
    font-weight: lighter;
  }
  td.require_missing {
    color: blue;
  }
}

td.testcase {
  text-align: left;
  background-color: white;
  white-space: nowrap;
}


/* Rand-Einstellungen*/

td.testcase {
  padding-left: 2px;
  padding-right: 2px;
}

a {
  text-decoration: none;
  color: #5275BF;
/*  visited color: #5275BF; */
/*  active color: #5275BF; */
}

h1, h2, h3, h4, h5 {
  font-family: Helvetica;
}

h1 {
  font-size: 100%;
}

h2 {
  font-size: 95%;
}

h3 {
  font-size: 90%;
}

hr {
  width: 80%
}

pre.unknown {
  background-color: #F7F7F7;
  font-family: Courier new;
  font-size: 12;
  padding: 2px;
}

/* eof */
