/* $Id: ar7.css,v 1.1 2005/09/01 19:54:55 stefan Exp stefan $ */

table {
  border-width: 1;
  empty-cells: show;
  font-family: Times;
}

/* Tabellenüberschrift allgemein */
th {
  background-color: blue;
  padding-left: 0;
  vertical-align: bottom;
}

th.variant {
  background-color: white;
  text-decoration: none;
}
th.variantgui {
  background-color: magenta;
  text-decoration: none;
}

td {
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

td.number {
  text-align: right;
  background-color: white;
}

td.group {
  text-align: left;
  background-color: white;
}

/* Einstellungen für Bildschirmausgabe */
@media screen {
  td {
    background-color: lightblue;
  }
}

/* Einstellungen für Ausgabe auf Drucker */
@media print {
  td.pass {
    color: green;
  }
  td.fail {
    color: red;
  }
  td.unres {
    color: blue;
  }
  td.untst, td.ignore {
    color: gray;
    font-weight: lighter;
  }
  td.err, td.exec, td.syntx {
    color: orange
  }
  td.require_all {
    color: green;
  }
  td.require_missing {
    color: blue;
  }
}

td.testcase {
  text-align: left;
  background-color: white;
  white-space: nowrap;
}

td.testid {
  text-align: right;
  background-color: white;
}


/* Rand-Einstellungen*/

td.testcase, td.group, td.testid, td.number {
  padding-left: 2px;
  padding-right: 2px;
}

a {
  text-decoration: none;
  color: #5275BF;
/*  visited color: #5275BF; */
/*  active color: #5275BF; */
}

hr {
  width: 80%
}

pre {
  background-color: #F7F7F7;
  font-family: Courier new;
  font-size: 12;
  padding: 2px;
}

/* eof */
